<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
/* font-family: 'Pangolin', cursive; */

body {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
  
  
.menuStart {
  background-color: #000000;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  height: 8vh; 
}

  
.menuStart button{
  background-color: #000000;
  border-style: none;
}


.menuStart button:hover{
  background-color: #4d4d4d;
  border-style: none;
}
  
  ul {
    list-style: none;
    display: flex;
  }
  
  li {
    margin: 0;
    padding: 0 5vw;
  }
  
  a {
    text-decoration: none;
    color: #fff; 
    padding: 1vh 2vw; 
    display: block;
    transition: background-color 0.3s; 
  }
  
  a:hover {
    background-color: #595959; 
  }
  
  
.containerCards{
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
}

.containerCards .item{
  width: 30%;
  height: 10%;
  border-radius: 2rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  transition: all 0.25s;
}

.organizer{
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.organizer p{
  text-align: justify;
}

.containerCards .item:hover{
  transform: translateX(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.containerCards .item .images{
  cursor: pointer;
}

.containerCards .item img{
  width: 100%;
  height: 100%;
}
.containerCards .item img:hover{
  width: 100%;
  height: 100%;
}

.item button{
  background-color: black;
  color: white;
  width: 10rem;
  height: 3rem;
  transition: all 0.25s;
  cursor: pointer;
}

.item button:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.popup-img{
  position:fixed;
  top: 0; left: 0;
  background:#000000ae;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.popup-img span{

  font-family: 'Pangolin', cursive;
  position: absolute;
  top: 3rem; right: 3rem;
  font-size: 5rem;
  font-weight: bolder;
  color: whitesmoke;
  cursor: pointer;
  z-index: 100;
}

.popup-img img{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  width: 40%;
}


.shoppingCartContainer {
  width: 100%;
  display: flex;
}

.cart-indicate{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.cart-title {
  text-align: center;
  background-color: #000000;
  color: white;
}

.optionSC{
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.confirmShop{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 2rem;
}

.cart-button-buy button{
  background-color: black;
  color: white;
  width: 5rem;
  height: 3rem;
  border-style: none;
  border-radius: 3rem;
  transition: all 0.25s;
  cursor: pointer;
}

.cart-button-buy button:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-style: solid;
  border-color: #000000;
  
}


/* items */

.itemsToCart{
  align-self: center;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add-img-item img{
  width: 10rem; 
  max-width: 100%; 
  height: 10rem;
  border-radius: 2rem;
}

.item-img-title-container{
  display: flex;
  flex-direction: row;
}

.add-amount-item button{
  background-color: black;
  color: white;
  border-style: none;
  width: 3rem;
  height: 2rem;
  border-radius: 1rem;
  transition: all 0.25s;
  cursor: pointer;
}

.add-amount-item button:hover {
  background-color: white;
  color: black;
  border-style: solid;
  border-radius: 1rem;
  border-color: black;
}





/* Footer */



footer{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #000000;
  height: 15vh;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-style: solid;
  border-bottom: 5rem;
  border-left: none;
  border-right: none;
  border-color: white;
}

.listInfoFooter ul{
  display: flex;
  flex-direction: row;
}

.listInfoFooter li{
  display: flex;

}
=======
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
/* font-family: 'Pangolin', cursive; */

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
  
  
.menuStart {
  background-color: #000000;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  height: 8vh; 
}

  
.menuStart button{
  background-color: #000000;
  border-style: none;
}


.menuStart button:hover{
  background-color: #4d4d4d;
  border-style: none;
}
  
  ul {
    list-style: none;
    display: flex;
  }
  
  li {
    margin: 0;
    padding: 0 5vw;
  }
  
  a {
    text-decoration: none;
    color: #fff; 
    padding: 1vh 2vw; 
    display: block;
    transition: background-color 0.3s; 
  }
  
  a:hover {
    background-color: #595959; 
  }
  
  
.containerCards{
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
}

.containerCards .card{
  width: 30%;
  height: 10%;
  border-radius: 2rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  transition: all 0.25s;
}

.organizer{
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.organizer p{
  text-align: justify;
}

.containerCards .card:hover{
  transform: translateX(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.containerCards .card .images{
  cursor: pointer;
}

.containerCards .card img{
  width: 100%;
  height: 100%;
}
.containerCards .card img:hover{
  width: 100%;
  height: 100%;
}

.card button{
  background-color: black;
  color: white;
  width: 10rem;
  height: 3rem;
  transition: all 0.25s;
  cursor: pointer;
}

.card button:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.popup-img{
  position:fixed;
  top: 0; left: 0;
  background:#000000ae;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.popup-img span{

  font-family: 'Pangolin', cursive;
  position: absolute;
  top: 3rem; right: 3rem;
  font-size: 5rem;
  font-weight: bolder;
  color: whitesmoke;
  cursor: pointer;
  z-index: 100;
}

.popup-img img{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  width: 40%;
}

>>>>>>> aa3319cbc4b02383e783518ec3afc85d852a02a8
